USE [master]
GO
/****** Object:  Database [social_web]    Script Date: 30.07.2019 11:50:13 ******/
CREATE DATABASE [social_web]
 CONTAINMENT = NONE
 ON  PRIMARY 
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [social_web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [social_web]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30.07.2019 11:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 30.07.2019 11:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Areas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendships]    Script Date: 30.07.2019 11:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FriendId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Friendships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 30.07.2019 11:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hobbies]    Script Date: 30.07.2019 11:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hobbies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hobbies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserHobby]    Script Date: 30.07.2019 11:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserHobby](
	[UserId] [int] NOT NULL,
	[HobbyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserHobby] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[HobbyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.07.2019 11:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Patronymic] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NULL,
	[GenderId] [int] NULL,
	[PlaceOfBirthId] [int] NULL,
	[ResidenceId] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([Id], [Name]) VALUES (5, N'China')
INSERT [dbo].[Areas] ([Id], [Name]) VALUES (6, N'India')
INSERT [dbo].[Areas] ([Id], [Name]) VALUES (7, N'Indonesia')
SET IDENTITY_INSERT [dbo].[Areas] OFF
SET IDENTITY_INSERT [dbo].[Friendships] ON 

INSERT [dbo].[Friendships] ([Id], [UserId], [FriendId]) VALUES (5, 6, 5)
INSERT [dbo].[Friendships] ([Id], [UserId], [FriendId]) VALUES (6, 5, 6)
INSERT [dbo].[Friendships] ([Id], [UserId], [FriendId]) VALUES (7, 6, 7)
GO
SET IDENTITY_INSERT [dbo].[Friendships] OFF
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([Id], [Name]) VALUES (5, N'Male')
INSERT [dbo].[Genders] ([Id], [Name]) VALUES (6, N'Female')
SET IDENTITY_INSERT [dbo].[Genders] OFF
SET IDENTITY_INSERT [dbo].[Hobbies] ON 

INSERT [dbo].[Hobbies] ([Id], [Name]) VALUES (5, N'Alchemy')
INSERT [dbo].[Hobbies] ([Id], [Name]) VALUES (6, N'Axe throwing')
INSERT [dbo].[Hobbies] ([Id], [Name]) VALUES (7, N'Badminton')
SET IDENTITY_INSERT [dbo].[Hobbies] OFF
INSERT [dbo].[UserHobby] ([UserId], [HobbyId]) VALUES (8, 5)
INSERT [dbo].[UserHobby] ([UserId], [HobbyId]) VALUES (11, 5)
INSERT [dbo].[UserHobby] ([UserId], [HobbyId]) VALUES (13, 5)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Surname], [Patronymic], [Phone], [DateOfBirth], [GenderId], [PlaceOfBirthId], [ResidenceId]) VALUES (5, N'Velislav', N'Vetochkin', N'Iosifovich', N'88005353535', CAST(N'2015-08-18T00:00:00.000' AS DateTime), 5, 11, 16)
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Patronymic], [Phone], [DateOfBirth], [GenderId], [PlaceOfBirthId], [ResidenceId]) VALUES (6, N'Artyom', N'Vitvinin', N'Volfovich', N'88005353535', CAST(N'2010-03-20T00:00:00.000' AS DateTime), 5, 6, 25)
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Patronymic], [Phone], [DateOfBirth], [GenderId], [PlaceOfBirthId], [ResidenceId]) VALUES (7, N'Alfred', N'Zaytsev', N'Ignatevich', N'88005353535', CAST(N'1962-03-07T00:00:00.000' AS DateTime), 5, 25, 19)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_FriendId]    Script Date: 30.07.2019 11:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_FriendId] ON [dbo].[Friendships]
(
	[FriendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 30.07.2019 11:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Friendships]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HobbyId]    Script Date: 30.07.2019 11:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_HobbyId] ON [dbo].[UserHobby]
(
	[HobbyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 30.07.2019 11:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserHobby]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GenderId]    Script Date: 30.07.2019 11:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_GenderId] ON [dbo].[Users]
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlaceOfBirthId]    Script Date: 30.07.2019 11:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_PlaceOfBirthId] ON [dbo].[Users]
(
	[PlaceOfBirthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResidenceId]    Script Date: 30.07.2019 11:50:13 ******/
CREATE NONCLUSTERED INDEX [IX_ResidenceId] ON [dbo].[Users]
(
	[ResidenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Friendships_dbo.Users_FriendId] FOREIGN KEY([FriendId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Friendships] CHECK CONSTRAINT [FK_dbo.Friendships_dbo.Users_FriendId]
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Friendships_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Friendships] CHECK CONSTRAINT [FK_dbo.Friendships_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserHobby]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserHobby_dbo.Hobbies_HobbyId] FOREIGN KEY([HobbyId])
REFERENCES [dbo].[Hobbies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserHobby] CHECK CONSTRAINT [FK_dbo.UserHobby_dbo.Hobbies_HobbyId]
GO
ALTER TABLE [dbo].[UserHobby]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserHobby_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserHobby] CHECK CONSTRAINT [FK_dbo.UserHobby_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Areas_PlaceOfBirthId] FOREIGN KEY([PlaceOfBirthId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Areas_PlaceOfBirthId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Areas_ResidenceId] FOREIGN KEY([ResidenceId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Areas_ResidenceId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Genders_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Genders_GenderId]
GO
USE [master]
GO
